body {
  background-image: url('https://user-images.githubusercontent.com/103836491/208122802-9a8b8025-a335-48d8-b2a6-ded6f7e03b32.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  img {
  opacity: 0.5;
}
}
