body {
  background-image: url('img/gsbg.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}

p.one {
  border-style: groove;
  border-width: medium;
  border-color: gray;


}




h1 {
  color: navy;
  margin-left: 20px;
}
